<div class="page-header row">
    <div class="col-sm-6">
      <h1 class="sectionTitle">Tasks</h1>
    </div>
    <br>
    <div class="col-sm-6">
      <div style="float:right;"><em class="text-muted">Add Task:</em></div><br>
      <button type="button"*ngIf="isCollapsed==true"class="btn btn-default" id="plus"style="float:right;"aria-label="Right Align" (click)="openTasks()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      <button type="button"*ngIf="isCollapsed==false"class="btn btn-default" id="minus"style="float:right"aria-label="Right Align" (click)="openTasks()">
        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
      </button>
    </div>
</div>
<div [collapse]="isCollapsed">
  <div class="page-header row" style="padding-right:5%;padding-left:5%;">
    <h1 style="text-align:center;">New Task:</h1>
  </div>
  <div class="container">
    <form class="form-horizontal" (ngSubmit)="addTask(client)">
      <fieldset>
        <div class="form-group taskInput" show-errors>
          <!--<div style="text-align:center"> <span style="color:red;">* is required</span></div>-->
          <label class="control-label" for="title">Title:<span style="color:red; font-weight:normal" *ngIf="!titleFilled"> *</span> <span class="glyphicon glyphicon-ok"style="color:green; font-weight:normal" *ngIf="titleFilled"></span></label>
          <input type="text"name="title"id="taskTitle" class="form-control" placeholder="Title" (keyup)="keyTitle($event)"[(ngModel)]="title"required>
          <label class="control-label" for="description">Description:</label>
          <input type="text"  name="description"id="taskDescription" class="form-control" placeholder="Description" [(ngModel)]="description"required>
          <label class="control-label" for="taskType">Task Type:<span style="color:red; font-weight:normal" *ngIf="!typeFilled"> *</span><span class="glyphicon glyphicon-ok"style="color:green; font-weight:normal" *ngIf="typeFilled"></span></label><a *ngIf="editTypes"class="btn glyphicon glyphicon-edit" style="float:right" (click)="openTypes()"></a>
          <select (change)="keyType($event)"class="form-control" id="taskType"required
            [(ngModel)]="taskType"
              name="taskType">
            <option *ngFor="let t of taskTypes | async" [value]="t.type">{{t.type}}</option>
          </select>
          <div [collapse]="editTypes" class="editTypes">
            <p style="text-align:center;font-weight:bold;">Task Categories:<a class="btn glyphicon glyphicon-minus" style="float:right;" (click)="openTypes()"></a></p>
            <hr>
            <div style="text-align:center"><p *ngIf="taskService.typeCount==0"><i>Add custom task types to filter your tasks by category!</i></p></div>
            <p *ngFor="let taskType of taskTypes | async" class="taskType">{{taskType.type}}<a class="btn glyphicon glyphicon-remove" style="color:red;" (click)="removeTaskType(taskType);"></a>
            <!--<span *ngIf="taskType==null">
              Create custom task filters
            </span>-->
            </p>
            <hr>
            <div style="text-align:center;width:100%">          
            <div style="margin-left:20%;margin-right:20%;">
              <div class="input-group">
                <input type="text" name="newType"class="form-control" [(ngModel)]="newType">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" (click)="addTaskType()">Add</button>
                </span>
              </div>
            </div>
            </div>
          </div>
          <label class="control-label" for="client">Client:</label>
          <select class="form-control"
            [(ngModel)]="client"
              name="client">
            <option *ngFor="let client of clients | async" [value]="client.name+'//'+client.$key">{{client.name}}</option>
          </select><br>
          <label class="control-label" for="dueDate"><i class="glyphicon glyphicon-calendar"></i> Due Date:<span style="color:red; font-weight:normal" *ngIf="date==''"> *</span> <span class="glyphicon glyphicon-ok"style="color:green; font-weight:normal" *ngIf="date!=''"></span></label>
          <p-calendar name="start"[(ngModel)]="date"dateFormat="mm/dd/yy"showAnim="slideDown"></p-calendar>
          <div style="float:right;">
            <label class="control-label"><i class="glyphicon glyphicon-time"></i> Due Time:</label>
            <p-calendar name="time"[(ngModel)]="dueTime" timeFormat="hh:mm:TT" [timeOnly]="true"(click)="keyTime($event)"></p-calendar>
          </div>
      </div>
        <div class="form-group" id="submitTask">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
        <div class="text-danger">
          <strong></strong>
        </div>
      </fieldset>
    </form>
  </div><hr>
</div>