<nav class="navbar  navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['tasks']" style="font-size:24px;">App Logo  </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li style="border-right: solid 1px rgb(150,150,150); border-left: solid 1px rgb(150,150,150);"><a [routerLink]="['tasks']"><span class="glyphicon glyphicon-check"></span> Tasks</a></li>
        <li style="border-right: solid 1px rgb(150,150,150);"><a [routerLink]="['clients']"><span class="glyphicon glyphicon-list-alt"></span> Clients</a></li>
        <li style="border-right: solid 1px rgb(150,150,150);"><a [routerLink]="['calendar']"><span class="glyphicon glyphicon-calendar"></span> Calendar</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="loginButton"><a [routerLink]="['login']">Login/Sign Up</a></li>
        <li id="userButton" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span>  {{(user | async)?.email }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['userAccount']">My Account</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Help</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="logOut()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav><br>
<router-outlet></router-outlet>
<body>
	<!--	<Login></Login> -->
	<!--<p-schedule></p-schedule>-->
</body>