<section>
	<div class="container">
		<div class="page-header row">
		    <div style="text-align:center">
		      <h1><i class="glyphicon glyphicon-question-sign" style="color:rgb(100,100,150)"></i>Help</h1>
		    </div>
		</div>
	<h3>Client list upload instructions and format:</h3>
		<ul>
			<li>Use this feature if you would like to quicky add multiple clients or integrate an existing excel client list</li>
			<li>We support excel documents with file type ".xlsx"</li>
		</ul>
		<img src="/app/user/clientListExample.PNG" style="float:left;width:100%;">
	</div>
</section>