.modal-header{
	background-color: rgba(0,0,255,.5);
}
.modal-body{
	padding:15%;
	background-color: rgba(0,0,255,.2);
}
.modal-header{
	text-align: center;
}
.modal-backdrop{
	opacity: 0.5 !important;
}
section{
	background-color: rgb(250,250,250);
	font-family: "PT Serif";
	min-height: 600px;
    height: auto !important;
}