<Landing-Page></Landing-Page>
<a id="clickModal"(click)="smModal.show()"></a>
<a id="closeModal"(click)="smModal.hide()"></a>
<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close"(click)="smModal.hide();navLanding()">
          <span aria-hidden="true">&times;</span>
        </button>
        	<h4 class="modal-title" *ngIf="login"id="login-title"><b>Login!</b></h4>
        	<h4 class="modal-title" *ngIf="signUp"id="signUp-title"><b>Sign Up!</b></h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" *ngIf="login"(ngSubmit)="onLogin()"id="login">
	        <div class="form-group" show-errors>
	          <label class="control-label" for="title">Email:</label>
	          <input type="text"name="email"id="email" class="form-control" placeholder="Email" [(ngModel)]="loginEmail"required>
	          <label class="control-label" for="password">Password:</label>
	          <input type="password" name="password" id="password" class="form-control" placeholder="Password" [(ngModel)]="loginPassword"required>
	          <button class="btn btn-link" (click)="forgotPassword();">Forgot Password?</button><br>
	        </div>
	        <div class="form-group" style="text-align:center">
	          <button type="submit" class="btn btn-primary btn-block">Login</button>
	          Dont have an account?
	          <button class="btn btn-link" (click)="navSignUp();">Sign Up</button>
	        </div>
    	</form>
    	<form class="form-horizontal" *ngIf="signUp"(ngSubmit)="onSignUp()" id="signUp">
	        <div class="form-group" show-errors>
	          <label class="control-label" for="firstName">First Name:</label>
	          <input type="text" name="fName" id="fName" class="form-control" placeholder="First Name" [(ngModel)]="model.fName"required>
	          <label class="control-label" for="lastName">Last Name:</label>
	          <input type="text" name="lName" id="lName" class="form-control" placeholder="Last Name" [(ngModel)]="model.lName"required>
	          <label class="control-label" for="emailSignup">Email:</label>
	          <input type="text" name="emailSignup" id="emailSignup" class="form-control" placeholder="Email" [(ngModel)]="model.email"required>
	          <label class="control-label" for="pass">Password:</label>
	          <input type="password" name="pass" id="pass" class="form-control" placeholder="Password" [(ngModel)]="password"required>
	        </div><br>
	        <div class="form-group" style="text-align:center;">
	          <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
	          Already have an account? <a class="btn"(click)="navLogin();">Login</a>
	        </div>
    	</form>
    </div>
  </div>
</div>