.modal-header{
	background-color: rgba(0,0,255,.5);
}
.modal-body{
	padding:15%;
	background-color: rgba(0,0,255,.2);
}
.modal-header{
	text-align: center;
}
/*
#signUp{
	visibility: hidden;
	display: none;
}
#signUp-title{
	visibility: hidden;
	display: none;
}
