section{
	background-color: rgb(250,250,250);
	font-family: "PT Serif"
}
.sectionTitle{
	font-size:45px;
	color:rgba(0,0,0,.7);
	font-weight: bolder;
	text-decoration: underline;
}
.calendarInput{
  padding-left:15%;
  padding-right:15%;
}